.carousel {
    position: relative;
    width: 100%;
    border-radius: 15em;
    margin: 1em;
    overflow: hidden;
}


.inner {
    transition: transform 0.7s;
    white-space: nowrap;


}

.carousel-item {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: green;
    color: #fff;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators>button {
    margin: 5px;
}

.indicators>button.active {
    background-color: green;
    color: #fff;
}